key.py
license_server.py
lincese_client.py
__pycache__
venv/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env.*
.DS_Store
.idea/
.vscode/
*.iml
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
__pypackages__/
*.egg
*.manifest
*.spec
*.bak
*.swp
*.swo
*.tmp
*.old
*.orig
*.rej
*.class
*.war       
templates/__pycache__/
static/__pycache__/ 
migrations/__pycache__/
instance/__pycache__/
tests/__pycache__/
docs/__pycache__/
docs/_build/
*.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.mo
*.py[cod]       
*$py.class
*.so
*.dylib
*.dll
*.lib
*.exe
*.pdb
*.ipynb_checkpoints
profile_default/
ipython_config.py
.pyre/
.pytype/
.mypy_cache/
.dmypy.json
.pytest_cache/
.pyright/
celerybeat-schedule
celerybeat.pid
instance/
.webassets-cache
.scrapy
*.pid
*.seed  
*.pid.lock
*.tsv
*.sqlite3
*.db-journal
*.log
*.pot
*.mo
*.orig